.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html,
body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

.container {
    margin: 0 auto;
    width: 1280px;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
    line-height: 30px;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.navbar a {
    color: #000000;
    text-decoration: none;
}

.navbar a:hover,
.navbar a:focus {
    color: #2270F8;
}

.navbar__menu {
    flex-grow: 1;
}

.navbar__menu ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
}


.navbar__menu li:last-child {
    margin-right: 0;
}

.navbar__menu a {
    padding: 8px 10px;
}

.navbar__cart a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.navbar__cart a::before {
    content: "";
    display: inline-block;
    background-image: url(../img/cart-grey.svg);
    width: 15px;
    height: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Catalog */
.catalog__content {
    display: flex;
    gap: 21px;
    justify-content: space-between;
    margin-bottom: 80px;
}

.catalog__filter {
    width: 260px;
}


.filter-item {
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
    margin-bottom: 40px;
}

.filter-item:nth-child(2){
    margin-bottom: 0;
}

.filter-item ul {
    margin-top: 16px;
    padding: 0;
    list-style: none;
    margin-bottom: 40px;
}

.filter-item li {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}

.filter-item legend {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
}


.price-controls {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    position: relative;
}

.price-controls input {
    width: 95px;
    padding: 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
}

/* Checkboxes */
.filter-item span {
    margin-left: -36px;
}

.filter-item label {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #283136;
    margin-left: 36px;
    cursor: pointer;
}

.checkbox {
    position: absolute;
    width: 25px;
    height: 25px;
    background: url(../img/checkbox-off.svg) no-repeat;
    opacity: .4;
    cursor: pointer;
}

.input-checkbox:checked + .checkbox{
    position: absolute;
    width: 25px;
    height: 25px;
    background: url(../img/checkbox-on.svg) no-repeat;
    opacity: .4;
    cursor: pointer;
}

.input-checkbox:hover:checked + .checkbox{
    opacity: 1;
}

.checkbox:hover {
    opacity: 1;
}

.filter__btn {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #FFFFFF;
    width: 100%;
    height: 38px;
    border: 1px solid #E5E5E5;
}

.filter__btn:hover,
.filter__btn:focus {
    border: 1px solid #2270F8;
    color: #2270F8;
}

.filter__btn:active {
    border: 1px solid #2270F8;
}

/* Catalog cards */
.catalog__goods {
    margin-left: 50px;
    width: 100%;
}


.catalog__cards-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.catalog__card {
    width: 280px;
    height: 440px;
    position: relative;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    text-decoration: none;
    color: #000000;
}

.item-img {
    display: flex;
    align-items: center;
    padding: 15px;
}

.item-img img {
    width: auto;
    height: 200px;
}

.item-name {
    padding: 0 15px;
    line-height: 25px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 0;
    display: inline-block;
    height: 70px;
    width: 220px;
}

.item-price {
    display: flex;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
}

.old-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #A9A9A9;
    text-decoration: line-through;
    vertical-align: bottom;
}

.new-price {
    font-weight: 500;
    font-size: 21px;
    line-height: 18px;
}

.card__btn {
    margin-top: 380px;
    position: absolute;
}

.btn-buy {
    width: 150px;
    height: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    border: 0;
    border-radius: 5px;
    position: relative;
    background-color: #2270F8;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.btn-buy:hover {
    background-color: #FFFFFF;
    color: #2270F8;
    border: 2px solid #2270F8;
}

.btn-buy::before {
    content: "";
    background-image: url(../img/cart-white.svg);
    width: 15px;
    height: 15px;
    position: absolute;
    left: 15px;
}


.btn-buy:hover::before {
    background-image: url(../img/cart-blue.svg);
}

/* Catalog pagination */
.catalog__pagination-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
    margin-top: 45px;
    justify-content: center;
}

.catalog__pagination-list a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14;
    line-height: 18px;
    text-decoration: none;
    color: #000000;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    padding: 10px 15px;
    margin: 0;
}

.catalog__pagination-list a:hover {
    border-color: #2270F8;
    background-color: #FFFFFF;
    color: #2270F8;
}

.catalog__pagination-list .pagination__active, .pagination__active a {
    color: #FFFFFF;
    background-color: #2270F8;
    border-color: #2270F8;
}

/* Footer bottom */
footer {
    background-color: rgba(41, 52, 73, 1);
}

.footer {
    display: flex;
    padding: 30px 0;
    color: #FFFFFF;
}

.footer a:hover{
    text-decoration: underline;
}

.footer a:active{
    text-decoration: none;
    color: #2270F8;
}

.social {
    display: flex;
    justify-content: space-between;
    margin-left: 320px;
    gap: 5px;
    align-items: center;
}

.social__item {
    width: 45px;
    height: 45px;
    background-color: #212A3A;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.social__item:hover {
    background-color: #2270F8;
}

.vk-icon {
    background-image: url(../img/icon-vk.svg);
}

.fb-icon {
    background-image: url(../img/icon-fb.svg);
}

.inst-icon {
    background-image: url(../img/icon-insta.svg);
}

.feedback {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-left: 210px;
}

.feedback__link {
    color: rgba(255, 209, 128, 1);
    text-decoration: none;
}

.developers {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-left: 52px;
}

.developers__link {
    color: rgba(255, 209, 128, 1);
    text-decoration: none;
}


/* Product detail */
.product {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.product__image img {
    width: auto;
    height: 500px;
    margin-left: -60px;
}

.product__info {
    margin-left: 50px;
    width: 600px;
}

.product__title {
    font-size: 26px;
    font-weight: 600;
    line-height: 35px;
}

.product__price {
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    gap: 15px;
    align-items: baseline;
    margin-top: 40px;
    margin-bottom: 10px;
}

.product__price_new {
    margin: 0;
    color: #2270F8;
}

.product__price_old {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: #A9A9A9;
    text-decoration: line-through;
    vertical-align: bottom;
}

.product .btn-buy {
    margin-bottom: 40px;
}

.product__features h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.product__features-list {
    font-size: 16px;
    list-style: none;
    color: #43494d;
    padding: 0;
    margin-bottom: 40px;
}

.product__features-list li {
    margin-bottom: 20px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.feature__key {
    margin: 0;
    width: 300px;
}

.feature__value {
    width: 300px;
    margin: 0;
}

.btn-more {
    font-weight: 500;
    font-size: 18px;
    color: #2270F8;
    text-decoration: none;
}

/* Recommended products */
.recommended-products {
    margin: 80px 0;
}

.recommended-products h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.recommended-products__list {
    margin-top: 40px;
    justify-content: center;
}

/* Specifications */
.specification__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-size: 16px;
    border-bottom: 2px solid #EAEAEA;
    margin-bottom: 50px;
}

.header__product {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header__product img {
    width: auto;
    height: 80px;
}

.header__menu ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style: none;
}

.header__menu .link-active {
    color: #2270F8;
    font-weight: 500;
}

.header__buy {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
}

.header__buy .product__price_new {
    color: #000000;
}

.specification__body {
    width: 1000px;
}

.specification__body .feature__key {
    color: #A9A9A9;
}

.specification__body .feature__value {
    width: 600px;
}

.specification__body h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}

.specification__body h4 {
    font-size: 20px;
    font-weight: 500;
}

/* Cart */
.cart {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.cart-list {
    width: 800px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 35px;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    padding: 25px 0;
}

.cart-item__info {
    display: flex;
    align-items: center;
    width: 400px;
    margin-left: -20px;
}

.cart-item__image {
    width: 250px;
}

.cart-item__image img {
    width: auto;
    height: 180px;
}

.cart-item__title {
    font-weight: 500;
    font-size: 18px;
}

.cart-item__controls button {
    background-color: #FFFFFF;
    cursor: pointer;
}

.quantity-control form {
    display: flex;
    gap: 15px;
}

.quantity-control button {
    font-size: 30px;
    width: 40px;
    height: 40px;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
}

.quantity-control select {
    font-size: 24px;
    text-align: center;
    appearance: none;
    border: 0;
}

.quantity-control {
    margin-bottom: 25px;
}

.remove-control button {
    border: none;
    font-size: 16px;
    color: #A9A9A9;
}

.remove-control button:hover {
    color: #2270F8;
}

.cart-item__price_new {
    font-size: 24px;
    margin: 0;
}

.cart-item__price_old {
    font-size: 16px;
    text-decoration: line-through;
    color: #A9A9A9;
    text-align: right;
}

/* Cart order details */
.order-details {
    width: 260px;
    max-height: 430px;
    height: auto;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    margin: 0;
    padding: 40px 35px;
}

.order-details__title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}

.order-details__list {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.order-details__list li {
    display: flex;
    justify-content: space-between;
}

.order-details__list p {
    margin: 10px;
}

.order-details__list .total {
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}

.order-details__buttons {
    text-align: center;
}

.order-details__buttons a {
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    color: #000000;
    display: inline-block;
    padding: 15px;
    width: 200px;
    border: 1px solid #EAEAEA;
    border-radius: 7px;
}

.order-details__buttons .purchase {
    background-color: #2270F8;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.purchase:hover, .continue-shopping:hover {
    background-color: #FFFFFF;
    border: 2px solid #2270F8;
    color: #2270F8;
}

/* Notification */

.notification {
    text-align: center;
}

.notification-title {
    text-align: center;
    font-size: 32px;
}

.back-to-catalog {
    color: #2270F8;
}


/* Order processing */
.order {
    margin: 0 auto;
    width: 600px
}

.order-title {
    text-align: center;
    margin-bottom: 50px;
}

.order-info h3 {
    font-size: 20px;
    font-weight: 500;
}

.order-info .total {
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}

.order-form {
    display: flex;
    justify-content: center;
}

.order-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-form form p {
    display: flex;
    justify-content: right;
    gap: 50px;
    align-items: center;
}

.order-form p input {
    width: 200px;
    padding: 10px;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #F1F1F1;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
}

.order-form__btn {
    font-size: 18px;
    background-color: #2270F8;
    color: #FFFFFF;
    padding: 15px;
    width: 200px;
    border: 1px solid #EAEAEA;
    border-radius: 7px;
    margin-top: 30px;
}

.order-form__btn:hover {
    background-color: #FFFFFF;
    border: 2px solid #2270F8;
    color: #2270F8;
}

/* Payment  */
.payment {
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment-title {
    text-align: center;
    margin-bottom: 50px;
}

#payment-form div.field {
    font-size: 13px;
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    padding: 6px 12px;
    background-color: #F1F1F1;
    border-radius:4px;
}

.payment-form__btn {
    font-size: 18px;
    background-color: #2270F8;
    color: #FFFFFF;
    padding: 15px;
    width: 200px;
    border: 1px solid #EAEAEA;
    border-radius: 7px;
    margin-top: 30px;
    display: block;
    margin-inline: auto;
}

.payment-form__btn:hover {
    background-color: #FFFFFF;
    border: 2px solid #2270F8;
    color: #2270F8;
}