<div class="footer">
    <p class="copyright">
        © 2017 - 2023 Компания «Mishka»<br>
        Все права защищены
    </p>
    <div class="social">
        <a class="social__item vk-icon" href="#"></a>
        <a class="social__item fb-icon" href="#"></a>
        <a class="social__item inst-icon" href="#"></a>
    </div>
    <p class="feedback">
        Обратная связь:<br>
        <a class="feedback__link" href="#">mail@mishka-shop.ru</a>
    </p>
    <p class="developers">
        Разработано —<br>
        <a class="developers__link" href="#">profatsky</a>
    </p>
</div>
