{% load static %}

<nav class="navbar">
    <div class="navbar__logo">
        <img src="{% static 'img/logo-mishka.png' %}">
    </div>
    <div class="navbar__menu">
        <ul>
            <li><a href="#">Главная</a></li>
            <li>
                <div class="dropdown">
                    Каталог
                    <div class="dropdown-content">
                        <a href="{% url 'product_list' 'smartfony' %}">Смартфоны</a>
                        <a href="{% url 'product_list' 'naushniki' %}">Наушники</a>
                    </div>
                </div>
            </li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </div>
    <div class="navbar__cart">
        <a href="{% url 'cart_detail' %}">Корзина</a>
    </div>
</nav>
