{% extends 'shop/base.html' %}
{% load humanize %}

{% block content %}
<section class="specification">
    <div class="specification__header">
        <div class="header__product">
            <img src="{{ product.image.url }}">
            <p>{{ product }}</p>
        </div>
        <div class="header__menu">
            <ul>
                <li><a href="{{ product.get_absolute_url }}">О товаре</a></li>
                <li><a href="#specification__body" class="link-active">Характеристики</a></li>
            </ul>
        </div>
        <div class="header__buy">
            {% if product.discount_price %}
                <p class="product__price_new">{{ product.discount_price.normalize|intcomma  }} ₽</p>
                <p class="product__price_old">{{ product.price.normalize|intcomma  }} ₽</p>
            {% else %}
                <p class="product__price_new">{{ product.price.normalize|intcomma }} ₽</p>
            {% endif %}
            <div class="btn-buy">В корзину</div>
        </div>
    </div>
    <div class="specification__body" id="specification__body">
        <h3>Все характеристики</h3>
        {% block product_features %}{% endblock%}
    </div>
</section>
{% endblock %}