{% extends 'shop/products/product_specification.html' %}

{% block product_features %}
<h4>Заводские данные</h4>
<ul class="product__features-list">
    <li>
        <p class="feature__key">Гарантия</p>
        <p class="feature__value">{{ product.guarantee }} год</p>
    </li>
    <li>
        <p class="feature__key">Страна</p>
        <p class="feature__value">{{ product.manufacturer_country }}</p>
    </li>
</ul>

{% if product.series or product.model %}
    <h4>Серия модели</h4>
    <ul class="product__features-list">
        {% if product.series %}
        <li>
            <p class="feature__key">Серия</p>
            <p class="feature__value">{{ product.series }}</p>
        </li>
        {% endif %}
        {% if product.model %}
        <li>
            <p class="feature__key">Модель</p>
            <p class="feature__value">{{ product.model }}</p>
        </li>
        {% endif %}
    </ul>
{% endif %}

<h4>Операционная система</h4>
<ul class="product__features-list">
    <li>
        <p class="feature__key">Операционная система</p>
        <p class="feature__value">{{ product.operating_system }}</p>
    </li>
</ul>

<h4>Экран</h4>
<ul class="product__features-list">
    <li>
        <p class="feature__key">Экран</p>
        <p class="feature__value">
            {{ product.screen_diagonal.normalize }}"/
            {{ product.screen_resolution_vertical }}x{{ product.screen_resolution_horizontal }} Пикс
        </p>
    </li>
    <li>
        <p class="feature__key">Технология экрана</p>
        <p class="feature__value">{{ product.screen_technology }}</p>
    </li>
    {% if product.screen_refresh_rate %}
        <li>
            <p class="feature__key">Частота обновления</p>
            <p class="feature__value">{{ product.screen_refresh_rate }} Гц</p>
        </li>
    {% endif %}
</ul>

<h4>Процессор</h4>
<ul class="product__features-list">
    <li>
        <p class="feature__key">Процессор</p>
        <p class="feature__value">{{ product.CPU.title }}</p>
    </li>
    <li>
        <p class="feature__key">Количество ядер</p>
        <p class="feature__value">{{ product.CPU.cores }}</p>
    </li>
</ul>

<h4>Оперативная память</h4>
<ul class="product__features-list">
    <li>
        <p class="feature__key">Оперативная память (RAM)</p>
        <p class="feature__value">{{ product.RAM }} ГБ</p>
    </li>
</ul>

<h4>Встроенная память</h4>
<ul class="product__features-list">
    <li>
        <p class="feature__key">Встроенная память (ROM)</p>
        <p class="feature__value">{{ product.ROM }} ГБ</p>
    </li>
</ul>

<h4>Основная камера</h4>
<ul class="product__features-list">
    <li>
        <p class="feature__key">Количество основных камер</p>
        <p class="feature__value">{{ product.number_of_main_cameras }} шт</p>
    </li>
    <li>
        <p class="feature__key">Основная камера МПикс</p>
        <p class="feature__value">
            {% for camera in product.main_cameras.all %}
                {{ camera.megapixels }}
                {% if not forloop.last %}
                    /
                {% endif %}
            {% endfor %}
        </p>
    </li>
    <li>
        <p class="feature__key">Разрешение видеосъемки</p>
        <p class="feature__value">
            {{ product.video_resolution_horizontal }}x{{ product.video_resolution_vertical }} Пикс
        </p>
    </li>
    {% if product.optical_stabilization %}
        <li>
            <p class="feature__key">Оптическая стабилизация</p>
            <p class="feature__value">Да</p>
        </li>
    {% endif %}
    {% if product.digital_stabilization %}
        <li>
            <p class="feature__key">Цифровая стабилизация</p>
            <p class="feature__value">Да</p>
        </li>
    {% endif %}
    {% if product.LiDAR_scanner %}
        <li>
            <p class="feature__key">Сканер LiDAR</p>
            <p class="feature__value">Да</p>
        </li>
    {% endif %}
</ul>

<h4>Фронтальная камера</h4>
<ul class="product__features-list">
    <li>
        <p class="feature__key">Количество фронтальных камер</p>
        <p class="feature__value">{{ product.number_of_front_cameras }} шт</p>
    </li>
    <li>
        <p class="feature__key">Фронтальная камера МПикс</p>
        <p class="feature__value">
            {% for camera in product.front_cameras.all %}
                {{ camera.megapixels }}
                {% if not forloop.last %}
                    /
                {% endif %}
        {% endfor %}
        </p>
    </li>
</ul>

<h4>SIM карта</h4>
<ul class="product__features-list">
    <li>
        <p class="feature__key">SIM карта</p>
        <p class="feature__value">{{ product.SIM_card }}</p>
    </li>
</ul>

<h4>Передача данных</h4>
<ul class="product__features-list">
    <li>
        <p class="feature__key">Поддержка стандартов</p>
        <p class="feature__value">
            {% for standard in product.data_transmission_standards.all %}
                {{ standard }}
                {% if not forloop.last %}
                    /
                {% endif %}
            {% endfor %}
        </p>
    </li>
    {% if product.NFC %}
        <li>
            <p class="feature__key">Технология NFC</p>
            <p class="feature__value">Да</p>
        </li>
    {% endif %}
    <li>
        <p class="feature__key">Встроенный модуль Bluetooth</p>
        <p class="feature__value">{{ product.bluetooth_module.normalize }}</p>
    </li>
</ul>

<h4>Функции</h4>
<ul class="product__features-list">
    {% if product.GPS %}
        <li>
            <p class="feature__key">Поддержка GPS</p>
            <p class="feature__value">Да</p>
        </li>
    {% endif %}
    {% if product.glonass %}
        <li>
            <p class="feature__key">Поддержка ГЛОНАСС</p>
            <p class="feature__value">Да</p>
        </li>
    {% endif %}
    <li>
        <p class="feature__key">Датчики</p>
        <p class="feature__value">
            {% for sensor in product.sensors.all %}
                {{ sensor }}
                {% if not forloop.last %}
                    /
                {% endif %}
            {% endfor %}
        </p>
    </li>
</ul>

{% if product.face_recognition or product.fingerprint_scanner %}
    <h4>Безопасность</h4>
    <ul class="product__features-list">
        {% if product.face_recognition %}
            <li>
                <p class="feature__key">Сенсор распознавания лица</p>
                <p class="feature__value">Да</p>
            </li>
        {% endif %}
        {% if product.fingerprint_scanner %}
            <li>
                <p class="feature__key">Сканер отпечатка пальца</p>
                <p class="feature__value">Да</p>
            </li>
        {% endif %}
    </ul>
{% endif %}

<h4>Интерфейсы</h4>
<ul class="product__features-list">
    <li>
        <p class="feature__key">Порт USB</p>
        <p class="feature__value">{{ product.USB_port }}</p>
    </li>
</ul>

<h4>Корпус</h4>
<ul class="product__features-list">
    <li>
        <p class="feature__key">Материал корпуса</p>
        <p class="feature__value">
            {% for material in product.body_materials.all %}
                {{ material }}
                {% if not forloop.last %}
                    /
                {% endif %}
            {% endfor %}
        </p>
    </li>
    {% if product.protection_degree %}
        <li>
            <p class="feature__key">Порт USB</p>
            <p class="feature__value">{{ product.protection_degree }}</p>
        </li>
    {% endif %}
    <li>
        <p class="feature__key">Цвет</p>
        <p class="feature__value">{{ product.color }}</p>
    </li>
</ul>

{% if product.charger or product.screen_protector or product.cable %}
    <h4>Комплектация</h4>
    <ul class="product__features-list">
        {% if product.charger %}
            <li>
                <p class="feature__key">Блок питания</p>
                <p class="feature__value">Да</p>
            </li>
        {% endif %}
        {% if product.screen_protector %}
            <li>
                <p class="feature__key">Защитная пленка</p>
                <p class="feature__value">Да</p>
            </li>
        {% endif %}
        {% if product.cable %}
            <li>
                <p class="feature__key">Кабель</p>
                <p class="feature__value">
                    {{ product.cable.to_gadget }} — {{ product.cable.to_charger }}
                </p>
            </li>
        {% endif %}
    </ul>
{% endif %}

{% if product.wireless_charging or product.fast_charging or product.charger_power or product.battery_type %}
    <h4>Электропитание</h4>
    <ul class="product__features-list">
        {% if product.wireless_charging %}
        <li>
            <p class="feature__key">Поддержка беспроводной зарядки</p>
            <p class="feature__value">Да</p>
        </li>
        {% endif %}
        {% if product.fast_charging %}
        <li>
            <p class="feature__key">Поддержка быстрой зарядки</p>
            <p class="feature__value">Да</p>
        </li>
        {% endif %}
        {% if product.charger_power %}
        <li>
            <p class="feature__key">Мощность блока питания</p>
            <p class="feature__value">{{ product.charger_power }}</p>
        </li>
        {% endif %}
        {% if product.battery_type %}
            <li>
                <p class="feature__key">Тип аккумулятора</p>
                <p class="feature__value">{{ product.battery_type }}</p>
            </li>
        {% endif %}
    </ul>
{% endif  %}

<h4>Габаритные размеры</h4>
<ul class="product__features-list">
    <li>
        <p class="feature__key">Габаритные размеры (В*Ш*Г)</p>
        <p class="feature__value">
            {{ product.height.normalize }} * {{ product.width.normalize }} * {{ product.depth.normalize }} мм
        </p>
    </li>
</ul>

<h4>Вес</h4>
<ul class="product__features-list">
    <li>
        <p class="feature__key">Вес</p>
        <p class="feature__value">{{ product.weight }} г</p>
    </li>
</ul>
{% endblock %}
